FileTransfer.WcfClient/Connected Services/WCF.FileUpdateService/FileUpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileUpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFileUpdateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5667/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5667/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5667/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Remote.Infrastructure.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileUpdateService_UpdateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFile" />
  </wsdl:message>
  <wsdl:message name="IFileUpdateService_UpdateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileUpdateService_UpdateFileBlockCheckMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileBlockCheckMessage" />
  </wsdl:message>
  <wsdl:message name="IFileUpdateService_UpdateFileBlockCheckMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileBlockCheckMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileUpdateService">
    <wsdl:operation name="UpdateFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUpdateService/UpdateFile" message="tns:IFileUpdateService_UpdateFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUpdateService/UpdateFileResponse" message="tns:IFileUpdateService_UpdateFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFileBlockCheckMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileUpdateService/UpdateFileBlockCheckMessage" message="tns:IFileUpdateService_UpdateFileBlockCheckMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileUpdateService/UpdateFileBlockCheckMessageResponse" message="tns:IFileUpdateService_UpdateFileBlockCheckMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFileUpdateService" type="tns:IFileUpdateService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFileUpdateService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UpdateFile">
      <soap12:operation soapAction="http://tempuri.org/IFileUpdateService/UpdateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFileBlockCheckMessage">
      <soap12:operation soapAction="http://tempuri.org/IFileUpdateService/UpdateFileBlockCheckMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileUpdateService">
    <wsdl:port name="NetTcpBinding_IFileUpdateService" binding="tns:NetTcpBinding_IFileUpdateService">
      <soap12:address location="net.tcp://localhost:5566/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:5566/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>