FileTransfer.WcfClient/Connected Services/WCF.FileUpdateService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5667/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Remote.Infrastructure.DataContracts" />
  <xs:element name="UpdateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Remote.Infrastructure.DataContracts" minOccurs="0" name="transferData" nillable="true" type="q1:FileTransferRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Remote.Infrastructure.DataContracts" minOccurs="0" name="UpdateFileResult" nillable="true" type="q2:FileTransferResponsed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileBlockCheckMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Remote.Infrastructure.DataContracts" minOccurs="0" name="blockMessage" nillable="true" type="q3:BlockTransferRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileBlockCheckMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Remote.Infrastructure.DataContracts" minOccurs="0" name="UpdateFileBlockCheckMessageResult" nillable="true" type="q4:BlockTransferResponsed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>